*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/*
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/*_shared_*.xml

out/*

compiled
build
.gradle
Elegit.iml
*.log
target
httpUsernamePassword.txt

._.DS_Store
.DS_Store

#jekyll folder
vendor/*
