<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%X{id} %d{MM-dd-yyyy HH:mm:ss.SSS} %-5level [%t] %-30M %msg%n" />
        </Console>
        <Console name="BriefConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%X{id} %d{HH:mm:ss.SSS} %-5level [%t] %15C:%M:%L \t %msg%n" />
        </Console>
        <RollingFile name="RollingFile" filename="${sys:logFolder}/elegit.log"
                     filePattern="logs/elegit-%d{MM-dd-yyyy}.log" ignoreExceptions="false">
            <PatternLayout pattern="%d{MM-dd-yyyy HH:mm:ss.SSS};%t;%-5level;%c{1}.%M;%msg%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <root level="INFO">
            <appender-ref ref="RollingFile" />
        </root>
        <logger level="info" name="consolelogger">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger level="info" name="briefconsolelogger">
            <appender-ref ref="BriefConsole" />
        </logger>
    </Loggers>
</Configuration>