<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/print.css" media="print">

    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    <title>Elegit: a teaching git client</title>
</head>

<header id="elegitHeader">
    <div class="inner">
        <a href="{{site.url}}"><h1>Elegit</h1></a>
        <h2>A GUI client for people who want to learn Git.</h2>
        <a href="https://github.com/dmusican/Elegit" class="button"><small>View project on</small> GitHub</a>
    </div>
</header>