.root {
    -fx-background-color: #F2F1EF;
    -fx-font-family: "Avenir";
    -fx-focus-color: #BFBFBF;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #52B3D9;
}

.button#codeButton {
    -fx-font-family: "Menlo";
}

#warningButton {
    -fx-background-color: #F22613;
}

.button:hover {
    -fx-background-color: #81CFE0;
}

.button:pressed, .button:selected {
    -fx-background-color: #3498DB;
}

.menu-bar {
    -fx-use-system-menu-bar: true;
    -fx-background-color: #3498DB;
}

.tree-cell:selected {
  -fx-background-color: #BFBFBF;
}

#title-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #818181;
}

#repoLabelText {
    -fx-font-weight: BOLD;
    -fx-font-size: 18px;
}

.diffButton {
    -fx-font-weight: BOLD;
    -fx-font-size: 8px;
    -fx-font-family: "Avenir";
}

    .diffButton#missingDiffButton {
        -fx-background-color: #e67e22;
    }

    .diffButton#modifiedDiffButton {
        -fx-background-color: #16a085;
    }

    .diffButton#untrackedDiffButton {
        -fx-background-color: #9b59b6;
    }

    .diffButton#conflictingDiffButton {
        -fx-background-color: #F22613;
    }

.diffText {
    -fx-font-family: "Menlo";
    -fx-font-size: 13;
}

    .diffText#addedDiffText {
        -fx-fill: #26A65B;
    }

    .diffText#deletedDiffText {
        -fx-fill: #F22613;
    }

    .diffText#unchangedDiffText {
        -fx-fill: #BDC3C7;
    }

    .diffText#gitAnnotationDiffText {
        -fx-fill: #81CFE0;
        -fx-font-style: italic;
    }