.root {
    -fx-background-color: #F2F1EF;
    -fx-font-family: "Avenir";
    -fx-focus-color: #BFBFBF;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-font-family: "Menlo";
    -fx-text-fill: white;
    -fx-background-color: #52B3D9;
}

#warningButton {
    -fx-background-color: #F22613;
}

.button:hover {
    -fx-background-color: #81CFE0;
}

.button:pressed, .button:selected {
    -fx-background-color: #3498DB;
}

.menu-bar {
    -fx-use-system-menu-bar: true;
    -fx-background-color: #3498DB;
}

.tree-cell:selected {
  -fx-background-color: #BFBFBF;
}

#title-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #818181;
}

#missingDiffButton {
    -fx-font-weight: BOLD;
    -fx-text-size: 8px;
    -fx-font-family: "Avenir";
    -fx-background-color: #e67e22;
}

#modifiedDiffButton {
    -fx-font-weight: BOLD;
    -fx-font-size: 8px;
    -fx-font-family: "Avenir";
    -fx-background-color: #16a085;
}

#untrackedDiffButton {
    -fx-font-weight: BOLD;
    -fx-font-family: "Avenir";
    -fx-background-color: #9b59b6;
}

#conflictingDiffButton {
    -fx-font-weight: BOLD;
    -fx-font-family: "Avenir";
    -fx-background-color: #F22613;
}

#repoLabelText {
    -fx-font-weight: BOLD;
    -fx-font-size: 18px;
}

#addedDiffText {
    -fx-font-family: "Menlo";
    -fx-fill: #26A65B;
}

#deletedDiffText {
    -fx-font-family: "Menlo";
    -fx-fill: #F22613;
}

#unchangedDiffText {
    -fx-font-family: "Menlo";
    -fx-fill: #BDC3C7;
}

#gitAnnotationDiffText {
    -fx-font-family: "Menlo";
    -fx-fill: #81CFE0;
    -fx-font-style: italic;
}