.root {
    -fx-background-color: #F2F1EF;
    -fx-font-family: "Avenir";
    -fx-focus-color: #BFBFBF;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-font-family: "Menlo";
    -fx-text-fill: white;
    -fx-background-color: #52B3D9;
}

#warningButton {
    -fx-background-color: #F22613;
}

.button:hover {
    -fx-background-color: #81CFE0;
}

.button:pressed, .button:selected {
    -fx-background-color: #3498DB;
}

.menu-bar {
    -fx-use-system-menu-bar: true;
    -fx-background-color: #3498DB;
}

.tree-cell:selected {
  -fx-background-color: #BFBFBF;
}

#title-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #818181;
}

#missingText {
    -fx-font-weight: BOLD;
    -fx-font-family: "Avenir";
    -fx-fill: #e67e22;
    -fx-stroke-width: 0;
}

#modifiedText {
    -fx-font-weight: BOLD;
    -fx-font-family: "Avenir";
    -fx-fill: #16a085;
    -fx-stroke-width: 0;
}

#untrackedText {
    -fx-font-weight: BOLD;
    -fx-font-family: "Avenir";
    -fx-fill: #9b59b6;
    -fx-stroke-width: 0;
}

#conflictingText {
    -fx-font-weight: BOLD;
    -fx-font-family: "Avenir";
    -fx-fill: #F22613;
    -fx-stroke-width: 0;
}

#repoLabelText {
    -fx-font-weight: BOLD;
    -fx-font-size: 18px;
}