<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!--<File name="File" fileName="${sys:logFilename}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1}.%M %L - %msg%n"/>
        </File>-->
        <RollingFile name="RollingFile" filename="logs/elegit.log"
                     filePattern="logs/elegit-%d{MM-dd-yyyy}.log" ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1}.%M - %msg%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <root level="INFO">
            <appender-ref ref="RollingFile" />
        </root>
    </Loggers>
</Configuration>