.root {
    -fx-background-color: #F2F1EF;
    -fx-font-family: "Avenir";
    -fx-focus-color: #BFBFBF;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.branch-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button#codeButton {
    -fx-font-family: "Menlo";
}

.button:pressed, .button:selected{
    -fx-color: -fx-pressed-base;
}


.menu-bar {
    -fx-use-system-menu-bar: true;
    -fx-background-color: -fx-button-select-fill;
}

#notification {
    -fx-stroke-line-cap: round;
    -fx-border-color: linear-gradient(from 0px 0px to 1200px 0px, -fx-background-default 0%, #555555 2%, #555555 98%, -fx-background-default 100%);;
    -fx-border-width: 1 0 0 0;
}

.tree-cell:selected {
  -fx-background-color: #BFBFBF;
}

#title-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #818181;
}

#repoLabelText {
    -fx-font-weight: BOLD;
    -fx-font-size: 18px;
}

#commitTreeLabel {
    -fx-font-weight: BOLD;
    -fx-font-size: 24px;
}

.diffButton {
    -fx-font-weight: BOLD;
    -fx-font-size: 8px;
    -fx-font-family: "Avenir";
    -fx-text-fill: white;
}

    .diffButton#missingDiffButton {
        -fx-background-color: #e67e22;
    }

    .diffButton#modifiedDiffButton {
        -fx-background-color: #16a085;
    }

    .diffButton#untrackedDiffButton {
        -fx-background-color: #9b59b6;
    }

    .diffButton#conflictingDiffButton {
        -fx-background-color: #F22613;
    }

    .diffButton#ignoredDiffButton {
        -fx-background-color: blue;
    }

    .diffButton#conflictingThenModifiedDiffButton {
        -fx-background-color: firebrick;
    }

    .diffButton#stagedDiffButton {
        -fx-background-color: #888800;
    }

    .diffButton#stagedModifiedDiffButton {
            -fx-background-color: green;
    }

.diffText {
    -fx-font-family: "Menlo";
    -fx-font-size: 13;
}

    .diffText#addedDiffText {
        -fx-fill: #26A65B;
    }

    .diffText#deletedDiffText {
        -fx-fill: #F22613;
    }

    .diffText#unchangedDiffText {
        -fx-fill: #BDC3C7;
    }

    .diffText#gitAnnotationDiffText {
        -fx-fill: #81CFE0;
        -fx-font-style: italic;
    }

#remoteRepoCircle {
    /*noinspection CssInvalidFunction*/
    -fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-button-fill 60%, -fx-button-select-fill);
}

    #remoteRepoCircle:hover {
        /*noinspection CssInvalidFunction*/
        -fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-button-hover-fill 60%, -fx-button-fill);
    }

    #remoteRepoCircle:pressed, .remoteRepoCircle:selected {
        /*noinspection CssInvalidFunction*/
        -fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-button-select-fill 60%, -fx-button-fill);
    }

.cell {
    -fx-stroke-type: inside;
    -fx-stroke-line-cap: butt;
}

.invisCell {
    -fx-stroke-dash-array: 2px, 3px;
    -fx-stroke-dash-offset: 1px;
}

.edge {
    -fx-stroke: black;
    -fx-stroke-line-cap: butt;
}

.invisEdge {
    -fx-stroke-dash-array: 3px, 5px;
}

#helpButton-local {
    -fx-fill: linear-gradient(from 0px 0px to 0px 3px, reflect, -fx-button-fill 0%, -fx-button-fill 49%, -fx-background-default 50%, -fx-background-default 100%);
}
#helpButton-remote {
    -fx-fill: linear-gradient(from 0px 0px to 3px 0px, reflect, -fx-button-fill 0%, -fx-button-fill 49%, -fx-background-default 50%, -fx-background-default 100%);
}
#helpButton-both {
    -fx-fill: -fx-button-hover-fill;
}

* {
    -fx-button-fill: #52B3D9;
    -fx-button-hover-fill: #81CFE0;
    -fx-button-select-fill: #3498DB;
    -fx-background-default: #F4F4F4;

    -fx-cell-color-standard: radial-gradient(center 50% 50%, radius 75%, -fx-button-fill, -fx-button-hover-fill);
    -fx-cell-color-highlight1: radial-gradient(center 50% 50%, radius 75%, #da60e4, #9b59b6);
    -fx-cell-color-highlight2: radial-gradient(center 50% 50%, radius 75%, #16b285, #0a8551);
    -fx-cell-color-select: radial-gradient(center 50% 50%, radius 75%, #ff6e79, #e62613);
    -fx-cell-color-emphasize: radial-gradient(center 50% 50%, radius 75%, #ff6e79, #e62613);
}