.root {
    -fx-background-color: -fx-background-default;
    -fx-font-family: "Avenir";
    -fx-focus-color: #BFBFBF;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

#merge-text {
    -fx-font-size: 12px;
}

#merge-header-text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.label#notification {
    -fx-font-size: 12;
    -fx-font-weight: normal;
}

.button#notification {
    -fx-padding: 0 3 0 3;
}

.label#notificationNum {
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

#branch-merge-box-tracked{
    -fx-background-color: #1E90FF;
    -fx-background-radius: 5;
    -fx-padding: 0 3 0 3;
}
#branch-merge-box-untracked{
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 5;
    -fx-padding: 0 3 0 3;
}

#local-branch-selector {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 5;
    -fx-padding: -5 -5 -5 -5;
}

.label#branch-merge {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-align: center;
}

.label#branch-not-current {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 5;
    -fx-padding: 0 3 0 3;
}

.label#branch-current {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #1E90FF;
    -fx-background-radius: 5;
    -fx-padding: 0 3 0 3;
}


.branch-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.branch-label-selector {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 5;
}


.cell-label-box {
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 5;
    -fx-effect: -fx-dropshadow;
}
    .cell-label-box#regular { -fx-background-color: #CCCCCC; }
    .cell-label-box#current { -fx-background-color: #1E90FF; }
    .cell-label-box#tag { -fx-background-color: #8BC34A; }


.cell-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
    .cell-label#regular { -fx-text-fill: #333333; }
    .cell-label#current { -fx-text-fill: #FFFFFF; }


.codeButton {
    -fx-font-family: "Lucida Console";
}



.button#notificationButton {
    -fx-font-size: 12px;
}

.button:pressed, .button:selected{
    -fx-color: -fx-pressed-base;
}


.menu-bar {
    -fx-use-system-menu-bar: true;
    -fx-background-color: -fx-button-select-fill;
}

#notificationLine {
    -fx-background-color: linear-gradient(from 0px 0px to 1200px 0px, -fx-background-default 0%, #555555 2%, #555555 98%, -fx-background-default 100%);;
    -fx-cursor: v_resize;
}

#merge-arrow {
    -fx-stroke-width: 3;
    -fx-stroke: #333333;
    -fx-stroke-line-cap: butt;
    -fx-fill: #00000000;

}

#ribbon {
    -fx-background-color: #D1D1D1;
}

#separator {
    -fx-background-color: #777777;
}
#separator-dashed {
    -fx-background-color: linear-gradient(from 0px 0px to 10px 0px, repeat, -fx-background-default 0%, -fx-background-default 49%, #777777 51%, #777777 100%);
}

.tree-cell:selected {
  -fx-background-color: #BFBFBF;
}

#title-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #818181;
}

#repoLabelText {
    -fx-font-weight: BOLD;
    -fx-font-size: 18px;
}

#commitTreeLabel {
    -fx-font-weight: BOLD;
    -fx-font-size: 24px;
}

.diffButton {
    -fx-font-weight: BOLD;
    -fx-font-size: 8px;
    -fx-font-family: "Avenir";
    -fx-text-fill: white;
    -fx-effect: -fx-dropshadow;
}

    .diffButton#missingDiffButton {
        -fx-background-color: #e67e22;
    }

    .diffButton#modifiedDiffButton {
        -fx-background-color: #16a085;
    }

    .diffButton#untrackedDiffButton {
        -fx-background-color: #9b59b6;
    }

    .diffButton#conflictingDiffButton {
        -fx-background-color: #F22613;
    }

    .diffButton#ignoredDiffButton {
        -fx-background-color: blue;
    }

    .diffButton#conflictingThenModifiedDiffButton {
        -fx-background-color: firebrick;
    }

    .diffButton#stagedDiffButton {
        -fx-background-color: #888800;
    }

    .diffButton#stagedModifiedDiffButton {
            -fx-background-color: green;
    }

.diffText {
    -fx-font-family: "Menlo";
    -fx-font-size: 13;
}

    .diffText#addedDiffText {
        -fx-fill: #26A65B;
    }

    .diffText#deletedDiffText {
        -fx-fill: #F22613;
    }

    .diffText#unchangedDiffText {
        -fx-fill: #BDC3C7;
    }

    .diffText#gitAnnotationDiffText {
        -fx-fill: #81CFE0;
        -fx-font-style: italic;
    }

#remoteRepoCircle {
    /*noinspection CssInvalidFunction*/
    -fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-button-fill 60%, -fx-button-select-fill);
}

    #remoteRepoCircle:hover {
        /*noinspection CssInvalidFunction*/
        -fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-button-hover-fill 60%, -fx-button-fill);
    }

    #remoteRepoCircle:pressed, .remoteRepoCircle:selected {
        /*noinspection CssInvalidFunction*/
        -fx-fill: radial-gradient(center 50% 50%, radius 50%, -fx-button-select-fill 60%, -fx-button-fill);
    }

.cell {
    -fx-stroke-type: inside;
    -fx-stroke-line-cap: butt;
    -fx-stroke-width: 2px;
}

#fileLabel {
    -fx-font-size: 10px;
    -fx-font-weight: bolder;
}

.tree-cell {
    -fx-effect: -fx-dropshadow;
}

.invisCell {
    -fx-stroke-dash-array: 2px, 3px;
    -fx-stroke-dash-offset: 1px;
}

.edge {
    -fx-stroke: black;
    -fx-stroke-line-cap: butt;
}

.invisEdge {
    -fx-stroke-dash-array: 3px, 5px;
}

.button#saveButton {
    -fx-background-color:
        linear-gradient(from 0% 0% to 100% 100%,#5c6d88 0%,#8b8b8b 100%),
        -fx-saveButton-fill;
    -fx-background-insets: 0,0.5;
    -fx-background-radius: 3;
    -fx-text-fill: white;
}

.button#saveButton:hover {
    -fx-background-color:
        linear-gradient(from 0% 0% to 100% 100%,#5c6d88 0%,#8b8b8b 100%),
        -fx-saveButton-fill-hover;
}

#helpButton {
    -fx-fill: -fx-button-fill;
}

    #helpButton:hover {
        -fx-fill: -fx-button-hover-fill;
    }

#helpButton-null {
    -fx-padding: 1 1 1 1;
    -fx-fill: -fx-background-default;
}

#helpButton-inside {
    -fx-padding: 3 3 3 3;
    -fx-fill: -fx-button-fill;
}

    #helpButton-inside:hover {
            -fx-fill: -fx-button-hover-fill;
        }

#helpButton-both {
    -fx-stroke-type: inside;
    -fx-stroke-line-cap: butt;
    -fx-stroke-width: 2px;
    -fx-stroke: #808080;
    //-fx-stroke: -fx-button-fill;
    -fx-fill: -fx-button-fill;
}

#helpButton-remote {
    -fx-stroke-type: inside;
    -fx-stroke-line-cap: butt;
    -fx-stroke-width: 2px;
    -fx-stroke: #808080;
    -fx-fill: -fx-background-default;
}

    #helpButton-remote:hover {
        -fx-stroke: -fx-button-hover-fill;
    }

* {
    -fx-saveButton-fill: #1E40FF;
    -fx-saveButton-fill-hover: #3E70FF;

    -fx-button-fill: #52B3D9;
    -fx-button-hover-fill: #81CFE0;
    -fx-button-select-fill: #3498DB;
    -fx-background-default: #F4F4F4;

    -fx-dropshadow: dropshadow(three-pass-box, #777777, 4, 0, 0, 2);
    -fx-dropshadow-up: dropshadow(three-pass-box, #777777, 4, 0, 0, -3);

    -fx-cell-color-standard: radial-gradient(center 50% 50%, radius 75%, -fx-button-fill, -fx-button-hover-fill);
    -fx-cell-color-highlight1: radial-gradient(center 50% 50%, radius 75%, #da60e4, #9b59b6);
    -fx-cell-color-highlight2: radial-gradient(center 50% 50%, radius 75%, #16b285, #0a8551);
    -fx-cell-color-select: radial-gradient(center 50% 50%, radius 75%, #ff6e79, #e62613);
    -fx-cell-color-emphasize: radial-gradient(center 50% 50%, radius 75%, #ff6e79, #e62613);
}

#acceptButton {
    -fx-background-color: linear-gradient(#28d786, #28bf6e);
}

#rejectButton {
    -fx-background-color: linear-gradient(rgba(255, 37, 19, 0.65), rgba(255, 37, 19, 0.81));
}